.dlt-btn {
  padding: 0.8rem;
  background-color: #1173e300;
  border: none;
  cursor: pointer;
  border-radius: 5px;

  font-weight: 700;
  text-decoration: underline;
  color: #1174e3;
  transition: all 0.3s;
}

.dlt-btn:hover {
  color: #0d54a5;
}
