.print-btn {
  background-color: #1174e3;
  border: none;
  border-radius: 5px;
  padding: 0.7rem;
  transition: all 0.3s;
  cursor: pointer;
}

.print-btn svg {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
}

.print-btn:hover {
  background-color: #0d54a5;
}
