.input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.3rem;
}

.input-box label {
  font-size: 1.3rem;
  font-weight: 500;
  color: #777;
}

.input-box input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #777;
  background-color: #eee;
  padding: 1rem 2rem;
  font-size: 1.4rem;
}

.input-box input:hover,
.input-box input:focus {
  outline: none;
  background-color: rgba(238, 238, 238, 0.411);
  border-bottom: solid 2px #555;
}
